@font-face {
    font-family: "Urdu";
    /*Can be any text*/
    src: local("Nastaleeq"),
        url("./assets/Nastaleeq.ttf") format("truetype");
}

@font-face {
    font-family: "Kasheeda";
    /*Can be any text*/
    src: local("Kasheeda"),
        url("./assets/Kasheeda.ttf") format("truetype");
}